.speech {
    color: black;
    font-size: large;
    font: normal;

}

.directions {
    color: black;
    font-size: larger;
    font: optional;
    background-color: rgb(244, 244, 155);
}

.song {
    color: black;
    font-size: medium;
    font: medium;
    padding-left: 10%;
    width: 20%;

}

.name {
    font: menu;
}

table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}
tr:nth-child(even) {
    background-color:blueviolet;
  }
  tr:nth-child(odd) {
    background-color:cadetblue;
  }


h4:hover {

    background-color: cornsilk;
    font: 30px;
}

p.directions:hover {
    background-color: aqua;
    color: blueviolet;
}

.PREP {
    color: blueviolet;
}

.THES {
    color: chocolate;

}

.STUP {
    color: cornflowerblue;
}

.SILLI {
    color: darkblue;
}
.SPAR {
    color:chocolate;
}
.CHO {
    color:cornflowerblue;
}
.NICE{
    color:bisque;
}
h5:hover{
    color:cornflowerblue;
    font-size:medium;
    background-color:darkgreen;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }